table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
td:nth-child(even), th:nth-child(even) {
    background-color: rgb(194, 250, 194);
}
td:nth-child(even), th:nth-child(even) {
    background-color: rgb(202, 228, 202);
}